/* testing purpose 
.row{
	border: 1px red solid;
}
.col{
	border: 1px blue solid;
}
 css for testing ends here */


h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}
.logo{
	text-align: center;
	margin-bottom: 10%;
}
.side-nav{
	background-color: rgb(58,77,128);
	text-align: center;
	width:200px !important;
	color: white;
}
	.side-nav p a svg{
		display: inline-block;
		vertical-align: middle;
		width:40px;
	}
	.side-nav a{
		color: white !important;

	}
	.title{
		color: rgb(58,77,128);
	}
#banner{
	background-color: rgb(200,200,200);
	color: white;
	padding:5%;
}
	#banner .container{
		margin-left:0px;
	}
div{
	display: block
}
#profile{
	border-radius:50%;
	width: 100%;
}