h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}
.logo{
	text-align: center;
	margin-bottom: 10%;
}
.side-nav{
	background-color: rgb(58,77,128);
	text-align: center;
	width:200px !important;
}
	.side-nav p a svg{
		display: inline-block;
		vertical-align: middle;
		width:40px;
	}
	.side-nav li a{
		color: white !important;

	}
#banner{
	background-color: rgb(200,200,200);
	color: white;
	font-family: "Roboto" sans-serif;
	font-weight: normal;
	padding:5%;
}
	#banner .container{
		margin-left:0px;
	}
div{
	display: block
}
#profile{
	border-radius:50%;
	width: 100%;
}