<div class="section" id='banner'>
	<div class='container'>
		<div class='row'>
			<div class='col s3 m3'>
				<img id='profile' src="static/img/sung_kang.png" alt="picture of me">
			</div>
			<div class='col s9 m8 offset-m1'>
				<h2 class='header'>Sung Kang</h2>
				<h4>Hello,</h4>
				<h5>I am a passionate Developer </h5>
				<h5>who excels in a fast pace environment and is adept at learning new technologies quickly.</h5>
				<h5>Proficient in Python Stack, MEAN Stack, and iOS development.</h5>
			</div>
		</div>
	</div>
</div>
<div id='contents'>
	<div class='container'>
		<div class ='row' id='toolbox'>
			<p ng-bind='mainCtrl.test'></p>
			<h2 class = 'title col l12 m12 s12'>Tool boxes</h2>
			<div class='row'>
				<h3 class='col l12 m12 s12'>
					Technical Skills
				</h3>
				<div class= 'col l4 m12 s12'>
					<h4>
						Languages
					</h4>
					<p>
						JavaScript, Python, Swift, HTML, CSS
					</p>
				</div>
				<div class= 'col l4 m12 s12'>
					<h4>
						Databases
					</h4>
					<p>
						MySQL, MongoDB
					</p>
				</div>
				<div class= 'col l4 m12 s12'>
					<h4>
						Frameworks and Libraries
					</h4>
					<p>
						Node.js, Express.js, jQuery, AngularJS, Bootstrap, Materialize, Core Location, Core Motion, AVFoundation, Django, Pylot, Flask

					</p>
				</div>
				<div class= 'col l4 m12 s12'>
					<h4>
						Other Developer Tools
					</h4>
					<p>
						Sublime Text, Xcode, Terminal, Git/Github, Wireframe, ERD, NPM, Bower, RESTful Architecture, Object Oriented Programming
					</p>
				</div>
				<div class= 'col l4 m12 s12'>
					<h4>
						Graphics
					</h4>
					<p>
						Adobe Photoshop, Adobe Illustrator, CorelDraw
					</p>
				</div>
			</div>
		</div>
		<div class='row' id='portfolio'>
			<h2 class='title col l12 m12 s12'>
				Portfolio
			</h2>
			<div class='row'>
				<h3>
					Projects That I Worked On
				</h3>
				<div class='project row'>
					<h4>
						DojoParking
					</h4>
					<div class='col l3 s12 m3'>
						<a href="http://54.213.141.80/"><img src="static/logos/parkingDojo2.png" alt="DojoParking Screenshot"></a>
					</div>
					<div class='col l9 m9'>
						<ul>
							<li>
								A web application that maintains parking regulations at Coding Dojo by registering vehicles as student or staff.
							</li>
							<li>
								The dates of warnings given to a vehicle are recorded in database.
							</li>
							<li>
								Optimized for quick search through database using license plate number interactively on computers and mobile devices.
							</li>
						</ul>
					</div>
				</div>
				<div class="project row">
					<h4>
							HollaTalk
					</h4>
					<div class="col l3 s12 m3">
						<a href="http://www.holla-talk.com"><img src="static/logos/HollaTalk.png" alt="HollaTalk Logo"></a>
					</div>
					<div class="col l9 m9">
						<ul>
							<li>
								A cross-platform messenger application that works both iOS and web browsers.
							</li>
							<li>
								Users are spontaneously chat with their friend. This application will make sure to get receivers attention by mimicking a phone call.
							</li>
						</ul>
					</div>
				</div>
				<div class="project row">
					<h4>
							StrokeMap
					</h4>
					<div class="col l3 s12 m3">
						<a href="https://github.com/cecijupe/strokeCenters"><img src="static/logos/StrokMap.png" alt="StrokeMap Logo"></a>
					</div>
					<div class='col l9 m9'>
							<ul>
								<li>
									A 2-person project designed and created with Swift and JavaScript.
								</li>
								<li>
									Allows paramedics to quickly identify and contact hospitals with available stroke centers near their current location.
								</li>
								<li>
									Communication is instantaneous through a Node.js server and Socket.io connections
								</li>
								<li>
									I was responsible for communication and utilizing the data from core location.
								</li>
							</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='row' id='aboutThisSite'>
			<h2 class='title col l12 m12 s12'>
				About This site
			</h2>

			<div class='row'>
				<p class='caption'>
					This site is built with using AngularJS as front-end framework, styled with MaterializeCSS using their grid system.
				</p>
			</div>
		</div>
		<div class='row' id='contact'>
			<h2 class='title col l12 m12 s12'>
				Contact
			</h2>
			<div class='row'>
				<ul>
					<li>
						Email : <a href='mailto:sungjk@msn.com' id='email'>sungjk@msn.com</a>
					</li>
					<li>
						LinkedIn : <a href='www.linkedin.com/in/sungkangcodes'>www.linkedin.com/in/sungkangcodes</a>
					</li>
					<li>
						Phone : 1-310-745-3637
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>